Frontend-Web/node_modules
Frontend-Web/.pnp
Frontend-Web/.pnp.*
Frontend-Web/.yarn/*
Frontend-Web/!.yarn/patches
Frontend-Web/!.yarn/plugins
Frontend-Web/!.yarn/releases
Frontend-Web/!.yarn/versions
Frontend-Web/coverage
Frontend-Web/.next/
Frontend-Web/out/
Frontend-Web/build
Frontend-Web/.DS_Store
Frontend-Web/*.pem
Frontend-Web/npm-debug.log*
Frontend-Web/yarn-debug.log*
Frontend-Web/yarn-error.log*
Frontend-Web/.pnpm-debug.log*
Frontend-Web/.env*
Frontend-Web/.vercel
Frontend-Web/*.tsbuildinfo
Frontend-Web/next-env.d.ts

*.env*

Backend-API/node_modules
Backend-API/.pnp
Backend-API/.pnp.*
Backend-API/.yarn/*
Backend-API/!.yarn/patches
Backend-API/!.yarn/plugins
Backend-API/!.yarn/releases
Backend-API/!.yarn/versions
Backend-API/coverage
Backend-API/.next/
Backend-API/out/
Backend-API/build
Backend-API/.DS_Store
Backend-API/*.pem
Backend-API/npm-debug.log*
Backend-API/yarn-debug.log*
Backend-API/yarn-error.log*
Backend-API/.pnpm-debug.log*
Backend-API/.env*
Backend-API/.vercel
Backend-API/*.tsbuildinfo
Backend-API/next-env.d.ts

Driver-API/__pycache__/
Driver-API/*.py[cod]
Driver-API/*$py.class
Driver-API/.Python
Driver-API/env/
Driver-API/venv/
Driver-API/ENV/
Driver-API/env.bak/
Driver-API/venv.bak/
Driver-API/.env
Driver-API/.env.*
Driver-API/.pytest_cache/
Driver-API/.mypy_cache/
Driver-API/.coverage
Driver-API/coverage.xml
Driver-API/htmlcov/
Driver-API/.vscode/
Driver-API/.idea/
Driver-API/.DS_Store
Driver-API/*.log
Driver-API/build/
Driver-API/dist/
Driver-API/*.egg-info/
Driver-API/.eggs/
Driver-API/eggs/
Driver-API/pip-wheel-metadata/
